In [9]:
import requests
import pandas as pd
import numpy as np
from  datetime import date, timedelta

In [14]:
url="https://www.ecdc.europa.eu/sites/default/files/documents/COVID-19-geographic-disbtribution-worldwide.xlsx"

myfile = requests.get(url, allow_redirects=True)
open('D:/My documents/!GoogleDrive/Public/covid-19/covid_19.xlsx', 'wb').write(myfile.content)

901020

In [10]:
df = pd.read_excel('D:/My documents/!GoogleDrive/Public/covid-19/covid_19.xlsx')
df=df.rename(columns = {"countriesAndTerritories":"Country",
  df.columns[0]:"date",
  "cases":"Infected_new",
  "deaths":"Deaths_new",
  "continentExp":"region",
  }).sort_values(by=['Country','date'])


df.loc[df.date.isin(["2020-04-03","2020-04-04","2020-05-18","2020-05-20"]) & (df.Country=="France"),
  "Deaths_new"]=[1355,1120,300,183]
df.loc[df.date.isin(["2020-04-27","2020-04-28","2020-04-29"]) & (df.Country=="Spain"),
  "Deaths_new"]=[331,301,325]  
df.loc[df.date.isin(["2020-04-27","2020-05-01","2020-05-01"]) & (df.Country=="Germany"),
  "Deaths_new"]=[193,94]  

df["date"]=df['date'] - pd.to_timedelta(1,unit='d')
df["Country"]=df["Country"].replace("United States of America|United_States_of_America","USA", regex=True )
df["Country"]=df["Country"].replace("United Kingdom|United kingdom|United_Kingdom","UK", regex=True )
df["Country"]=df["Country"].replace("United_Arab_Emirates","UAE", regex=True )
df["Country"]=df["Country"].replace("_"," ", regex=True )

dates=pd.DataFrame(data=pd.date_range("2019-12-30",date.today()- timedelta(days = 1)),columns=["date"])

In [93]:
x=df.groupby(['Country','date']).size().reset_index().drop(0,1)

In [97]:
pd.DataFrame({'Name':1,
              'dates':pd.date_range("2019-12-30",date.today()- timedelta(days = 1))
                                    }
)

     Name      dates
0       1 2019-12-30
1       1 2019-12-31
2       1 2020-01-01
3       1 2020-01-02
4       1 2020-01-03
5       1 2020-01-04
6       1 2020-01-05
7       1 2020-01-06
8       1 2020-01-07
9       1 2020-01-08
10      1 2020-01-09
11      1 2020-01-10
12      1 2020-01-11
13      1 2020-01-12
14      1 2020-01-13
15      1 2020-01-14
16      1 2020-01-15
17      1 2020-01-16
18      1 2020-01-17
19      1 2020-01-18
20      1 2020-01-19
21      1 2020-01-20
22      1 2020-01-21
23      1 2020-01-22
24      1 2020-01-23
25      1 2020-01-24
26      1 2020-01-25
27      1 2020-01-26
28      1 2020-01-27
29      1 2020-01-28
..    ...        ...
119     1 2020-04-27
120     1 2020-04-28
121     1 2020-04-29
122     1 2020-04-30
123     1 2020-05-01
124     1 2020-05-02
125     1 2020-05-03
126     1 2020-05-04
127     1 2020-05-05
128     1 2020-05-06
129     1 2020-05-07
130     1 2020-05-08
131     1 2020-05-09
132     1 2020-05-10
133     1 2020-05-11
134     1 2020-05-12
135     1 2020-05-13
136     1 2020-05-14
137     1 2020-05-15
138     1 2020-05-16
139     1 2020-05-17
140     1 2020-05-18
141     1 2020-05-19
142     1 2020-05-20
143     1 2020-05-21
144     1 2020-05-22
145     1 2020-05-23
146     1 2020-05-24
147     1 2020-05-25
148     1 2020-05-26

[149 rows x 2 columns]

In [99]:
x.isna()

       Country   date
0        False  False
1        False  False
2        False  False
3        False  False
4        False  False
5        False  False
6        False  False
7        False  False
8        False  False
9        False  False
10       False  False
11       False  False
12       False  False
13       False  False
14       False  False
15       False  False
16       False  False
17       False  False
18       False  False
19       False  False
20       False  False
21       False  False
22       False  False
23       False  False
24       False  False
25       False  False
26       False  False
27       False  False
28       False  False
29       False  False
...        ...    ...
19218    False  False
19219    False  False
19220    False  False
19221    False  False
19222    False  False
19223    False  False
19224    False  False
19225    False  False
19226    False  False
19227    False  False
19228    False  False
19229    False  False
19230    False  False
19231    False  False
19232    False  False
19233    False  False
19234    False  False
19235    False  False
19236    False  False
19237    False  False
19238    False  False
19239    False  False
19240    False  False
19241    False  False
19242    False  False
19243    False  False
19244    False  False
19245    False  False
19246    False  False
19247    False  False

[19248 rows x 2 columns]

In [91]:
df.columns

Index(['date', 'day', 'month', 'year', 'Infected_new', 'Deaths_new', 'Country',
       'geoId', 'countryterritoryCode', 'popData2018', 'region'],
      dtype='object')

In [73]:
pd.merge(x,df,how='left',on=['date', 'Country']).query('Country=="Albania"')

,Country,date,day,month,year,Infected_new,Deaths_new,geoId,countryterritoryCode,popData2018,region
137,Albania,2020-03-08,9,3,2020,2,0,AL,ALB,2866376.0,Europe
138,Albania,2020-03-09,10,3,2020,4,0,AL,ALB,2866376.0,Europe
139,Albania,2020-03-10,11,3,2020,4,0,AL,ALB,2866376.0,Europe
140,Albania,2020-03-11,12,3,2020,1,1,AL,ALB,2866376.0,Europe
141,Albania,2020-03-12,13,3,2020,12,0,AL,ALB,2866376.0,Europe
142,Albania,2020-03-13,14,3,2020,10,0,AL,ALB,2866376.0,Europe
143,Albania,2020-03-14,15,3,2020,5,0,AL,ALB,2866376.0,Europe
144,Albania,2020-03-15,16,3,2020,4,0,AL,ALB,2866376.0,Europe
145,Albania,2020-03-16,17,3,2020,9,0,AL,ALB,2866376.0,Europe
146,Albania,2020-03-17,18,3,2020,4,0,AL,ALB,2866376.0,Europe
147,Albania,2020-03-18,19,3,2020,4,1,AL,ALB,2866376.0,Europe
148,Albania,2020-03-19,20,3,2020,11,0,AL,ALB,2866376.0,Europe
149,Albania,2020-03-20,21,3,2020,0,0,AL,ALB,2866376.0,Europe
150,Albania,2020-03-21,22,3,2020,6,0,AL,ALB,2866376.0,Europe
151,Albania,2020-03-22,23,3,2020,13,0,AL,ALB,2866376.0,Europe
152,Albania,2020-03-23,24,3,2020,11,2,AL,ALB,2866376.0,Europe
153,Albania,2020-03-24,25,3,2020,23,1,AL,ALB,2866376.0,Europe
154,Albania,2020-03-25,26,3,2020,23,0,AL,ALB,2866376.0,Europe
155,Albania,2020-03-26,27,3,2020,28,1,AL,ALB,2866376.0,Europe
156,Albania,2020-03-27,28,3,2020,12,3,AL,ALB,2866376.0,Europe
157,Albania,2020-03-28,29,3,2020,11,1,AL,ALB,2866376.0,Europe
158,Albania,2020-03-29,30,3,2020,15,0,AL,ALB,2866376.0,Europe
159,Albania,2020-03-30,31,3,2020,11,2,AL,ALB,2866376.0,Europe
160,Albania,2020-03-31,1,4,2020,20,3,AL,ALB,2866376.0,Europe
161,Albania,2020-04-01,2,4,2020,16,0,AL,ALB,2866376.0,Europe
162,Albania,2020-04-02,3,4,2020,18,1,AL,ALB,2866376.0,Europe
163,Albania,2020-04-03,4,4,2020,27,1,AL,ALB,2866376.0,Europe
164,Albania,2020-04-04,5,4,2020,29,2,AL,ALB,2866376.0,Europe
165,Albania,2020-04-05,6,4,2020,28,2,AL,ALB,2866376.0,Europe
166,Albania,2020-04-06,7,4,2020,16,1,AL,ALB,2866376.0,Europe
...,...,...,...,...,...,...,...,...,...,...,...
185,Albania,2020-04-25,26,4,2020,34,0,AL,ALB,2866376.0,Europe
186,Albania,2020-04-26,27,4,2020,14,1,AL,ALB,2866376.0,Europe
187,Albania,2020-04-27,28,4,2020,10,0,AL,ALB,2866376.0,Europe
188,Albania,2020-04-28,29,4,2020,14,2,AL,ALB,2866376.0,Europe
189,Albania,2020-04-29,30,4,2020,16,1,AL,ALB,2866376.0,Europe
190,Albania,2020-04-30,1,5,2020,7,0,AL,ALB,2866376.0,Europe
191,Albania,2020-05-01,2,5,2020,9,0,AL,ALB,2866376.0,Europe
192,Albania,2020-05-02,3,5,2020,7,0,AL,ALB,2866376.0,Europe
193,Albania,2020-05-03,4,5,2020,6,0,AL,ALB,2866376.0,Europe
194,Albania,2020-05-04,5,5,2020,8,0,AL,ALB,2866376.0,Europe
195,Albania,2020-05-05,6,5,2020,17,0,AL,ALB,2866376.0,Europe
196,Albania,2020-05-06,7,5,2020,12,0,AL,ALB,2866376.0,Europe
197,Albania,2020-05-07,8,5,2020,10,0,AL,ALB,2866376.0,Europe
198,Albania,2020-05-08,9,5,2020,8,0,AL,ALB,2866376.0,Europe
199,Albania,2020-05-09,10,5,2020,6,0,AL,ALB,2866376.0,Europe
200,Albania,2020-05-10,11,5,2020,12,0,AL,ALB,2866376.0,Europe
201,Albania,2020-05-11,12,5,2020,4,0,AL,ALB,2866376.0,Europe
202,Albania,2020-05-12,13,5,2020,4,0,AL,ALB,2866376.0,Europe
203,Albania,2020-05-13,14,5,2020,4,0,AL,ALB,2866376.0,Europe
204,Albania,2020-05-14,15,5,2020,18,0,AL,ALB,2866376.0,Europe
205,Albania,2020-05-15,16,5,2020,18,0,AL,ALB,2866376.0,Europe
206,Albania,2020-05-16,17,5,2020,17,0,AL,ALB,2866376.0,Europe
207,Albania,2020-05-17,18,5,2020,13,0,AL,ALB,2866376.0,Europe
208,Albania,2020-05-18,19,5,2020,2,0,AL,ALB,2866376.0,Europe
209,Albania,2020-05-19,20,5,2020,1,0,AL,ALB,2866376.0,Europe
210,Albania,2020-05-20,21,5,2020,15,0,AL,ALB,2866376.0,Europe
211,Albania,2020-05-21,22,5,2020,5,0,AL,ALB,2866376.0,Europe
212,Albania,2020-05-22,23,5,2020,12,0,AL,ALB,2866376.0,Europe
213,Albania,2020-05-23,24,5,2020,8,0,AL,ALB,2866376.0,Europe
214,Albania,2020-05-24,25,5,2020,9,1,AL,ALB,2866376.0,Europe

In [59]:
x.columns

Index(['Country', 'date', 0], dtype='object')